
html, body {
    padding: 0;
    margin: 0;
}

* {
    box-sizing: border-box;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    border-width: 0 0 1px 0;
    border-color: #ddd;
    font-size: 11px;
    text-align: right;
    margin-left: 5px;
    width: 75px;
    margin-right: 20px;
    -moz-appearance: textfield;
    box-shadow: none;
}

select {
    border-width: 0 0 1px 0;
    border-color: #ddd;
    font-size: 11px;
}

input[type=number]:focus {
    outline: none;
}

.options-app {
    font-family: arial;
    width: 100%;
}

.options-app header {
    width: 100%;
    height: 50px;
    line-height: 50px;
    background-color: #444;
    color: #fff;
    font-size: 20px;
    padding-left: 50px;
}

.options-app .app-body {
    display: flex;
    margin: 30px 50px;
    font-size: 11px;
}

.section-title {
    font-weight: bold;
    font-size: 13px;
    margin-bottom: 10px;
}

.exit-view {
    border-left: 1px solid #eee;
    margin-left: 20px;
    padding-left: 20px;
    height: 200px;
}

.exit-view .results {
    margin-top: 30px;
    font-size: 14px;
}

.exit-view .results .section-title {
    font-size: 16px;
    margin-bottom: -2px;
    margin-left: 5px;
    color: #0c0;
}

.exit-view .results .details {
    border: 1px solid #0c0;
    padding: 13px;
    line-height: 24px;
}

.exit-view .results span {
    float: right;
}

.exit-view:not(.has-valid-grant) .inputs {
    opacity: 0.5;
    pointer-events: none;
}

.exit-view:not(.has-valid-exit) .results {
    display: none;
}

.grant-view .saved-data {
    padding: 5px 0;
}

.grant-view:not(:last-child) {
    border-bottom: 1px solid #eee;
}

.grant-view .save-for-later {
    cursor: pointer;
    border: 1px solid #eee;
    width: 80px;
    margin: 5px 0;
    padding: 2px 8px;
    font-size: 10px;
}

.grant-view:not(.valid) .save-for-later {
    opacity: 0.5;
    pointer-events: none;
}

.grant-view .save-for-later:hover {
    background-color: #eee;
}

.grant-view .inputs {
    display: none;
}

.grant-view.editing .inputs {
    display: block;
}

.grant-view.editing .saved-data {
    display: none;
}

.grant-view .saved-data {
    font-size: 10px;
}

.grant-view .saved-data .field {
    font-weight: bold;
    display: inline-block; 
    width: 80px;
}

.grant-view .saved-data .delete-grant {
    float: right;
    cursor: pointer;
    display: inline-block;
    width: 20px;
    text-align: center;
}
